@import "colors";
@import "typography";
@import "menu-mobile";

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  margin: 0px;
  padding: 0px;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: 
    radial-gradient(ellipse farthest-side at top, rgb(247, 194, 36) 0%, rgba(255,255,255,0.0) 100%),
    url('../images/header_bg.png');
  background-color: $oj;
  background-size: cover;
  position: relative;
  border-bottom: 5px solid darken($oj, 5%);

  strong {
    color: rgba(255,255,255,0.9)
  }

  h1 {
    margin-bottom: 0px;
    line-height: 1.1em;
    text-align: left;
    position: relative;
    z-index: 0;
    overflow: hidden;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 6px;
      z-index: -1;
      width: 100%;
      height: 3px;
      background-color: $link-color;
    }

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      z-index: -1;
      left: -100%;
      bottom: 6px;
      background-color: white;

      transition-property: left;
      transition-duration: 0.5s;
    }
  
    &:hover::after {
      left: 0%;
    }
  }

  p {
    margin-top: 10px;
    text-align: right;
    font-size: 18px;
    line-height: 1.2em;
  }

  @media(max-width: 700px) {
    .header_copy {
      max-width: 90%;
    }

    p {
      font-size: 1em;
    }
  }
}

nav:not(.menu-mobile) {

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px;

    li {
      padding-left: 30px;
      position: relative;


      &::after {
        display: block;
        content: '';
        background-color: white;
        position: absolute;
        right: -17px;
        bottom: calc(50% - 2px);
        height: 4px;
        width: 4px;
        border-radius: 50%;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  @media(max-width: 540px) {
    display: none;
  }
}

div.nav-mobile {
  @media(min-width: 541px) {
    display: none;
  }
}

section {
  padding: 5vh 10vw;

  &:first-of-type h2 {
    margin-top: 5vh;
  }

  .section-content {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
  }

  &#about {
    padding-top: 70px;

    &:after {
      display: block;
      content: "";
      background-color: $oj;
      width: 100vw;
      height: 5px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }

  &#work {
    background-color: lighten($oj, 5%);
  }

  &#about, &#work {
    display: flex;
    position: relative;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 60px;

    h3 {
      display: inline;
    }

    .project-link {
      display: inline-block;
      margin-top: 25px;
    }

    .project-category {
      text-transform: uppercase;
      display: inline-block;
      
      position: relative;
      bottom: -1px;

      @media(max-width: 700px) {
        display: block;
        margin-left: 42px;
      }
    }

    .project-tools {
      display: flex;
      list-style-type: none;
      margin: 2px 0px;
      padding: 0px 0px 0px 44px;

      @media(max-width: 700px) {
        flex-direction: column;
        padding: 0px 0px 0px 33px;
      }

      li {
        padding: 0px 10px;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;

        @media(min-width: 700px) {
          &:first-child {
            padding-left: 0px;

            &::before {
              display: none;
            }
          }
        }

        &::before {
          position: absolute;
          left: -1px;
          top: calc(50% - 1px);
          height: 2px;
          width: 2px;
          background-color: #111;
          border-radius: 50%;
          display: block;
          content: '';
        }
      }
    }
  }

  &#contact {
    background-color: $oj;

    a {
      display: inline-block;
      position: relative;

      &:not(:first-child) {
        margin-left: 25px;

        &:before {
          display: block;
          content: "";
          position: absolute;
          left: -16px;
          top: 11px;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    h3 {
      color: white;
      padding: 0px;
      margin: 0px;
    }
  }
}
