@import "colors";

body {
  font-family: "Montserrat", "sans-serif";
  color: #111;
}

h1 {
  font-family: "Montserrat", serif;
  color: rgba(255,255,255,1);
  font-size: 60px;
}

h2 {
  color: white;
  margin-top: 0px;
  border-bottom: 1px dashed $link-color;
  font-size: 28px;
}

h3 {
  color: white;
  font-size: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  margin-bottom: 10px;
}

section {
  font-size: 14px;
}

em {
  font-weight: 800;
}

a {
  color: $link-color;

  &.project-link {
    color: white;

    h3 {
      position: relative;
      margin-left: 43px;
      
    }

    &--github h3::before {
      display: block;
      content: '';
      position: absolute;
      left: -43px;
      top: 3px;
      width: 35px;
      height: 35px;
      background-image: url('/images/GitHub-Mark-Light-32px.png');
      background-size: cover;
    }

    &--web h3::before {
      display: block;
      content: '';
      position: absolute;
      left: -43px;
      top: 3px;
      width: 35px;
      height: 35px;
      background-image: url('/images/Globe_icon-white.svg');
      background-size: cover;
    }
  }
}

.project-category {
  color: white;
  font-size: 16px;
}

a:hover {
  color: $link-hover-color;
}
